*{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background: url("")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:var(--black-body);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin: 0;
}
.background-color-text{
    animation: 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    opacity: 85%;
    margin: 0;
    padding: 1%;
}
header{
    font-size: unset;
}

h1{
    font-size: 1.8em;
}

h2{
    font-size: 1.5em;
    color:red
}

.logo{
    height: 60px;
}

.logo img{
    width: auto;
    height: 100%;
}

.title-h1 {
    width: 90%;
    margin: 0 auto;
}
.menu{
    padding-top: 5px;
    background-image: linear-gradient(to right, rgb(67, 64, 64),rgb(0, 0, 0) );
    display: flex;
    place-items: left;
    flex-wrap:wrap;
    place-content: left;
    flex-direction:row;
    direction: ltr;

}
.menu ul{
    display: flex;
    text-align: center; 
}
.menu ul li{
    display: flex;
}
.menu a{
    padding: 8px 10px;
    color:rgb(255, 0, 0);
    text-decoration: none;
    text-decoration: bold;
    transition: .3s;
    font-weight:bolder;
}
.menu a:hover{
    color:rgb(233, 236, 247);    
}
footer{
    height: auto;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
*::-webkit-scrollbar {
    width: 10px;
}    
*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.5);
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(103, 94, 87);
    border-radius: 5px;
}
.description{
    animation: 1s;
    margin: 2vw 4vw 2vw;
    background-color: var(--color-description);
    padding: 2%;
    border-radius: 5px;
}